<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'action.index')}" controller="Module" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'action.clearLogs')}" controller="Module" action="clearLogs" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="headline" />

				<f:flashMessages renderMode="div" />

				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>